@font-face {
    font-family: impact;
    src: url(/fonts/impact/impact.ttf);
}

/* * {
    font-family: Impact;
} */

html {
    background-color: lightgray;
}

canvas {
    background-color: white;
    display: block;
    margin: 20px auto;
}