* {
    box-sizing: border-box;
}

/* Base */

html {
    background-color: lightgray;
    font-family: impact;
}

body {
    margin: 0;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: darkgreen;
}

a:hover {
    padding: 10px;
    border: darkgreen 2px solid;
    border-radius: 12px;
}

.nav-container {
    width: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    background-color: black;
}

.logo {
    place-self: center;
    font-size: 1.625rem;
    color: darkgreen;
}

.nav-buttons {
    min-height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    padding: 0px;
}

.nav-buttons li {
    list-style-type: none;
    place-self: center;
}

.image-gallery {
    margin: 5px 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20vw);
    grid-gap: 15px;
}

.image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MemeGen {
    margin: 5px 5px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

canvas {
    display: block;
    padding: 0px 10px 0px;
}

#my-canvas {
    width: 300px;
    /* min-width: 200px; */
}

.canvas-buttons {
    min-width: 200px;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#topline {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#switchLine {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

#moveLineUp {
    grid-column: 1 / 2;
    grid-row: 4 / 5 ;
}

#moveLineDown {
    grid-column: 2 / 3;
    grid-row: 4 / 5 ;
}

#increaseFontSize {
    grid-column: 4 / 5;
    grid-row: 4 / 5 ;
}

#decreaseFontSize {
    grid-column: 5 / 6;
    grid-row: 4 / 5 ;
}

.canvas-buttons a {
    
}

#shareMeme {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

#saveMeme {
    grid-column: 4 / -1;
    grid-row: 5 / 6;
}

footer {
    min-height: 100px;
    background-color: black;
    color: darkgreen;
    padding : 40px;
    text-align: center;
    font-size: 1.625rem;
}

/* Helpers */

.grid {
    display: grid;
}